body {
    background-color: #f7c9eff3;
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

body.active .overlay {
    display: block;
}

/* almost all */

.homeSection, .aboutSection, .workSection, .skillSection, .contactSection {
    width: 80%;
    max-width: 700px;
    min-width: 340px;
    height: 400px;
    background-color: #fff0fc;
    border: 3px solid #3f4750;
    font-weight: 800;
}

.aboutSection button, .workSection button, .skillSection button,  .contactSection button {
    border: none;
    background-color: black;
    color: aliceblue;
    font-weight: 900;
}

.homeSection {
    position: fixed;
}

.title {
    background-color: black;
    color: aliceblue;
    padding:  4px 10px;
}

.work, .about, .skill-set {
    font-size: 15px;
}

/* homeSection */

.homeSection .text {
    text-align: center;
    margin-top: 65px;
}

.homeSection .buttons {
    margin-top: 45px;
    text-align: center;
    display: grid;
    place-items: center;
}

.homeSection .buttons button {
    border: none;
    background-color: #fff0fc;
    font-weight: 900;
}

.homeSection .buttons button .icon {
    font-size: 30px;
}

/* popup */

.about-popup-box, 
.work-popup-box,
.skill-popup-box,
.contact-popup-box {
    display: grid;
    place-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 2;
}

.about-popup-box .aboutSection, 
.work-popup-box .workSection,
.skill-popup-box .skillSection,
.contact-popup-box .contactSection {
    position: absolute;
    z-index: 3;
}

.about-popup-box, .about-popup-box .aboutSection,
.work-popup-box, .work-popup-box .workSection, 
.skill-popup-box, .skill-popup-box .skillSection, 
.contact-popup-box, .contact-popup-box .contactSection {
    transition: all .1s ease;
    opacity: 0;
    pointer-events: none;
}

.about-popup-box.popup, .about-popup-box.popup .aboutSection,
.work-popup-box.popup, .work-popup-box.popup .workSection,
.skill-popup-box.popup, .skill-popup-box.popup .skillSection, 
.contact-popup-box.popup, .contact-popup-box.popup .contactSection {
    scale: 1.02;
    opacity: 1;
    pointer-events: all;
}

/* aboutSection */

.aboutSection {
    overflow-y: auto;
}

.aboutSection .pf-img {
    width: 70px;
    border-radius: 10%;
    margin: 20px;
}

.aboutSection .each-academic-background {
    display: flex;
    justify-content: center;
}

.aboutSection ul {
    list-style: square;
}

.aboutSection ul li {
    margin: 20px 0;
}

.aboutSection ul li hr {
    margin: 0;
}

/* workSection */

.workSection {
    overflow-y: auto;
}

.workSection .title {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.each-work {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.work-img {
    display: block;
    margin: 0 auto;
    height: 210px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.work-name {
    text-align: center;
    font-weight: bolder;
}
 
.each-work p {
    font-size: 14px;
    text-align: justify;
    display: grid;
    place-items: center;
}

.each-work a {
    width: 160px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #3f4750 !important;
    border: 1px solid #3f4750 !important;
}

/* skillSection */

.skillSection {
    overflow-y: auto;
}

.skillSection .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 0;
    font-size: 14px;
}

.skillSection .skills .each-skill {
    width: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #cacaca;
    margin: 20px;
}

.skillSection .skills .each-skill img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 80px;
    padding: 5px;
}

.skillSection .skills .each-skill p {
    margin-top: 10px;
}

/* contactSection */

.contactSection .contacts {
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts ul {
    list-style: none;
}

.contacts ul li {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.contacts ul li i {
    font-size: 30px;
    margin-right: 10px;
}

.contacts ul li a, .contacts ul li span {
    font-size: 16px;
    color: #000;
}

@media (max-width: 830px) {
    .work-img {
        height: 180px;
    }
}

@media (max-width: 768px) {
    .work-name {
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    .workSection .each-work .project-name {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .homeSection .text {
        margin-top: 35px;
    }

    .homeSection .buttons {
        margin-top: 35px;
    }

    .work-img {
        height: 150px;
    }
}